[submodule "dynalo"]
	path = dynalo
	url = https://github.com/maddouri/dynalo.git
[submodule "args"]
	path = args
	url = https://github.com/Taywee/args.git
[submodule "cli"]
	path = cli
	url = https://github.com/daniele77/cli.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
